.App {
  text-align: center;
  font-family: sans-serif;
  color: darkslategray;
}

.head1{
  width: 90%;
  height: 70px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  font-size:x-large;
  
}
.head2{
  width: 90%;
  height: 70px;
 text-align: center;
  margin: auto;
  font-size: larger;
  }

.para {
  margin-top: -20px;
}

button {
  background-color: royalblue;
  color: white;
  padding: 1px 23px 0px 23px;
  text-align: center;
  border: none;
}
.pics2 {
  margin-top: 5%; 
}

.hr{
  margin-top: 130px;
}

.btn {
  position: absolute;
  margin-left: -55%;
  margin-top: 130px;
  padding: 20px;
  font-size:medium;
}

.pics3 {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  margin-top: 40px;
  padding: 10px;
  gap: 70px;
 
 }
.lastName {
  width: auto;
  height: 200px;
  margin-top: 120px;
  background-color: snow;
  justify-content: center;
  align-items: center;  
}

